table
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #dddddd #dddddd #dddddd -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    width: 100%;
}
tr{
    
}
td{
    border-top: 1px solid #dddddd;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}